<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
	<!-- 태그의 구조 <태그 속성> 텍스트 </태그> id 속성 : 외부(DAO)에서 해당 태그를 지칭하는 (호출하는) 이름, 중복안됨 
		resultType 속성 : 결과에 대한 속성(select문은 95%가 VO속성을 갖는다) : 집계함수는 int를 반환하는데, 흔치않다 
		parameterType 속성 : #{컬럼명} 의 자료형 , 이것 또한 대부분 VO속성이다. <select id="" resultType=""></select> 
		<select id="" resultType="" parameterType=""></select> resultType속성이 따로 존재하지않는다. 
		무조건 int로 반환되기때문 ==> n개의 행이 업데이트/삽입/삭제 되었습니다. 이렇게 나오니까 <update id="" parameterType=""></update> 
		<insert id="" parameterType=""></insert> <delete id="" parameterType=""></delete> -->
	<select id="custList" resultType="hw10.VO">
		select * from customer order by custid
	</select>

	<select id="custOne" parameterType="String" resultType="hw10.VO">
		select *
		from customer where custid = #{custid}
	</select>

	<insert id="custIns" parameterType="hw10.VO">
		insert into
		customer(custid,name,address,phone)
		values(#{custid},#{name},#{address},#{phone})
	</insert>

	<delete id="custDel" parameterType="hw10.VO">
		delete from customer where
		custid = #{custid}
	</delete>

	<update id="custUp" parameterType="hw10.VO">
		update customer set name =
		#{name}, address = #{address},
		phone =
		#{phone} where custid =
		#{custid}
	</update>

	<select id="idChk" parameterType="String" resultType="hw10.VO">
		select *
		from customer where
		custid = #{custid}
	</select>

</mapper>